<footer>
	<p>Handmade using <a title="Figma" target="_blank" href="https://www.figma.com/">Figma</a> and <a title="11ty" target="_blank" href="https://www.11ty.dev/">11ty</a>, with <a title="Github" target="_blank" href="https://www.github.com/">Github</a> for source control and <a title="Netlify" target="_blank" href="https://www.netlify.com/">Netlify</a> for deployment. 
	<br/><br/>Typeset in <a href="https://fonts.google.com/specimen/Manrope" target="_blank" title="Link to Manrope typeface">Manrope</a>, <a href="https://rsms.me/inter/" target="_blank" title="Link to Inter font">Inter</a>, with <a href="https://fonts.google.com/specimen/Libre+Baskerville" target="_blank" title="Link to Inter font">Libre Baskerville</a> for emphasis.
	<br/><br/>&copy; 1982-<script>document.write(new Date().getFullYear())</script> Mike Thomas.</p>
</footer>



