<footer>
	<p>&copy; 1982-<script>document.write(new Date().getFullYear())</script> Mike Thomas.</p>
	<button id="theme-toggle" title="Swap mode" type="button">
    	<img id="theme-icon" src="/_assets/img/icon--sun.svg" />
  	</button>
</footer>



