<footer>
	<p>Get in touch via <a title="Email me mikerst@gmail.com" target="_blank" href="mailto: mikerst@gmail.com">Email</a> or <a title="My Twitter handle" target="_blank" href="https://twitter.com/mikerst">Twitter</a>, otherwise find me on <a title="My LinkedIn profile" target="_blank" href="https://www.linkedin.com/in/mikerst/">LinkedIn</a>, <a title="My Github prilfe" target="_blank" href="https://github.com/mikerst">Github</a>, <a title="My Pinterest profile" target="_blank" href="https://www.pinterest.co.uk/mikerst/">Pinterest</a>. &copy; 2019, Mike Thomas.</p>
</footer>