<header>
	<nav>
		<a href="/" title="Mike Thomas">
			<span class="name">Mike Thomas</span><br/>
			<span class="role">Product &amp; Brand Designer</span> <span class="pronoun">(He/Him)</span><br/>
			London, UK
		</a>
	</nav>
	<button id="theme-toggle" title="Swap mode" type="button">
  <img id="theme-icon" src="/_assets/img/icon--sun.svg" />
</button>
</header>



