<meta property="og:site_name" content="Mike Thomas">
<meta property="og:title" content="{{ title }} — Mike Thomas">
<meta property="og:description" content="{{ intro }}">
<meta property="og:image" content="">
<meta property="og:url" content="https://mikethomas.design{{page.url}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="">