<meta property="og:site_name" content="Mike Thomas">
<meta property="og:title" content="{{page.data.title}}">
<meta property="og:description" content="{{page.data.intro}}">
<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
<meta property="og:url" content="http://euro-travel-example.com/index.htm">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="">