<meta property="og:site_name" content="mikethomas.design">
<meta property="og:title" content="{% if title %}{{ title }} · {% endif %}Mike Thomas">
<meta property="og:description" content="{{ intro }}">
<meta property="og:image" content="https://mikethomas.design/_assets/img/{% if hero %}{{hero}}{% else %}default.png{% endif %}">
<meta property="og:url" content="https://mikethomas.design{{page.url}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="">