<!doctype html>
<html {% if theme %}theme="{{ theme }}"{% endif %} lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Multi-disciplinary designer and Londoner, with a love of great coffee, old book smells, looking out for others, and perfect dropshots.">
	<meta name="theme-color" content="#010101">
  
	<title>{% if title %}{{ title }} · {% endif %}Mike Thomas</title>
  
  <!--[if IE]><link rel="shortcut icon" href="/_assets/img/favicon.ico"><![endif]-->
  <link rel="apple-touch-icon" href="/_assets/img/favicon__180x180.png">
  <link rel="icon" href="/_assets/img/favicon__192x192.png">
  <link rel="stylesheet" href="/_assets/css/styles.css" />
  {% include "meta.njk" %}
</head>

<body>

  {% include "header.njk" %}

  <main {% if layoutClass %}class="{{ layoutClass }}"{% endif %}>

  {{ content | safe }}

  </main>
  
  {% include "footer.njk" %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

  {% set js %}
    {% include "js/core.js" %}
    {% include "js/home.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>


  

</body>

</html>



