<!doctype html>
<html {% if theme %}theme="{{ theme }}"{% endif %} lang="en">
<head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8606805-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-8606805-7');
  </script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Zero-to-one projects, design systems, accessibility, growing design teams, and solving gnarly problems.">
	<meta name="theme-color" content="#010101">
  
	<title>{% if title %}{{ title }}{% endif %}</title>
  
  <!--[if IE]><link rel="shortcut icon" href="/_assets/img/favicon.ico"><![endif]-->
  <link rel="apple-touch-icon" href="/_assets/img/favicon__180x180.png">
  <link rel="icon" href="/_assets/img/favicon__192x192.png">
  <link rel="stylesheet" href="/_assets/css/styles.css" />
  {% include "meta.njk" %}
</head>

<body>

  <button id="theme-toggle" title="Swap mode" type="button">
    <img id="theme-icon" src="/_assets/img/icon--sun.svg" />
  </button>

  {% include "header.njk" %}

  <main {% if layoutClass %}class="{{ layoutClass }}"{% endif %}>

  {{ content | safe }}

  </main>
  
  {% include "footer.njk" %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

  {% set js %}
    {% include "js/core.js" %}
    {% include "js/home.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>


  

</body>

</html>



