/* ######################################### */
/* ## Styles for https://mikethomas.design ## */
/* ######################################### */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* ------------------- */
/* Baselining          */
/* ------------------- */

/* Lovely simple CSS reset courtesy of https://alligator.io/css/minimal-css-reset/ */

html {
  box-sizing: border-box;
  font-size:16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
   -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* ------------------- */
/* Settings + Themes   */
/* ------------------- */


:root {
  --bg-color:         #FFF;
  --text-color:       #010101;
  --alt-text-color:   #6a6a6a;
  --accent-color:     #0029FF;
  --display-text:     'Libre Baskerville', Georgia, serif;
  --body-text:        'Inter', Arial, sans-serif;
  --spacer:           1.5rem;
  --grid-gap:         4rem;
  --grid-template:    auto / repeat(3, 1fr);
}

body.dark {
  --bg-color:         rgb(24, 24, 24);
  --text-color:       #EEE;
  --accent-color:     #dbe2ef;
}

body.fun-mode {
  --bg-color: #0029FF;
  --text-color:       #EEE;
  --fun-mode-visibility: visible;
  --accent-color:     #222222;
  --alt-text-color:  var(--text-color);
}

.fun-mode-visibility {
  visibility: hidden
}

body.fun-mode .fun-mode-visibility {
  visibility: visible;
}

/* ------------------- */
/* Global              */
/* ------------------- */

body {
  font-family: var(--body-text);
  font-weight: 400;
  color: var(--text-color);
  background: var(--bg-color);
  line-height: 1.5;
}

/* ------------------- */
/* CONTENT             */
/* ------------------- */


h1, h2, h3 {
  font-family: var(--display-text);
}

h1 {
  font-weight: 400;
  font-size: 4.5rem;
  line-height:1.2;
}

/* Honest, hidden H1 technique courtesy of BBC.co.uk */
h1.homepage-heading {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  font-size: 0px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  line-height: 1.5;
  font-size: 1.25rem;
}

/*
p:first-of-type {
  font-family: var(--body-text);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--text-color);
}
*/

a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--accent-color);
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--text-color);
  border-bottom-color: var(--text-color);
}

ul {
  margin:0;
  padding:0;
}

li {
  line-height: 1.5;
  font-size: 1.2rem;
}

img {
  width: 100%;
  height: auto;
}


figcaption {
  color: var(--alt-text-color);
}

blockquote {
  margin: 0;
  padding: 0 5ch;
}
blockquote > p {
  font-style: italic;
  padding:0;
  margin:0;
}


video {
  width: 100%;
  height: auto;
}

/* ------------------- */
/* Navigation          */
/* ------------------- */

header {
  margin: 0;
  height:18vh;
  display: grid;
  grid-template: var(--grid-template);
  gap:var(--grid-gap);
}

header .mt {
  width: 8rem;
  height: 8rem;
  aspect-ratio: 1/1;
  max-height:128px;
}

nav {
  display: flex;
  align-items: top;
  grid-column: 1 / 4 ; 
  font-size: 1.2rem;
  font-family: var(--body-text);
  font-weight: 400;
}

nav a {
  border: 0;
  line-height: 2;
  margin-left: 2rem;
}

nav a:first-of-type {
  margin: 0 auto 0 0;
}

nav a:first-of-type:hover {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav a.span {
  vertical-align: baseline;
  line-height:2;
}

nav a span.name  {
  font-weight:700;
}
nav a span.pronoun  {
  font-weight:400;
  font-size: 0.7rem;
}

nav > a.current {
  border-bottom: 2px solid var(--accent-color);
}

#theme-toggle {
  border:none;
  background:none;
}

#theme-toggle:hover {
  cursor:pointer;
}

.icon {
  width:3rem;
  height: 3rem;
}

.icon--sun {
  content:url("/_assets/img/icon--sun.svg");
  filter:invert(0.8);
}

.icon--moon {
  content:url("/_assets/img/icon--moon.svg");
}



/* ------------------- */
/* Footer              */
/* ------------------- */


footer p,
footer p:first-of-type {
  font-size: 100%;
  font-family:var(--body-text);
  color: var(--alt-text-color);
}

footer a,
footer a:visited {
  color: inherit;
  border-bottom-color: inherit;
}

footer {
  display:flex;
  align-items: center;
  justify-content: space-between;
}


/* ------------------- */
/* Page Layouts + Grid */
/* ------------------- */

body {
  margin: 0 auto;
  max-width: 100vw;
  padding:2rem;
}

main {
  padding: 2rem 0;
}


@media screen and (min-width: 768px) {

  body {
    padding:5rem;
  }

  main {
    padding:4rem 0;
  }

}

/* Basic Centered */


main.basic {
  display: grid;
  column-gap: 4rem;
  grid-auto-flow: column;
  grid-template: var(--grid-template)
  
}

main.basic > * {
  grid-column: 2 / 4;
}

main.basic > .projects {
  grid-column: 1 / 4;
}

main.basic h1 {
 
  grid-column: 2 / 4;
}

main.basic img {
  grid-column: 1 / 4;
}

main.basic section {
  margin-top: 3rem;
}

/* Case Study */

main.case-study {
  display: grid;
  column-gap: 4rem;
  grid-template: var(--grid-template);
}

main.case-study > * {
  grid-column: 2 / 4 ;
} 

main.case-study h1 {
  grid-column: 2 / 4;
}

main.case-study p:first-of-type {
  grid-column: 2 / 4;
}

main.case-study > figure {
  grid-column: 1 / 4;
}

/* ------------------- */
/* Page Rhythm         */
/* ------------------- */


/* From: https://every-layout.dev/layouts/stack/ */

main * + * {
  margin-top: var(--spacer);
}

main > * + h2 {
  margin-top: calc(var(--spacer) * 2);
}

main > * + h3 {
  margin-top: calc(var(--spacer) * 1.5);
}

main > h2 + p,
main > h3 + p {
  margin-top: calc(var(--spacer) / 2);
}

main > figure, 
main > video {
  text-align: center;
  margin-bottom: calc(4rem - var(--spacer));
  margin-top: 4rem;
}

/* ------------------- */
/* Various Sections    */
/* ------------------- */


.intro {
  display: grid;
  grid-template: var(--grid-template);
  column-gap:  var(--grid-gap);
  margin: 0 0 4rem 0;
  transform: translateY(25px);
  opacity: 0;
}

.intro h1 {
  grid-column: 2 / 4;
  margin-bottom: 3rem;
}



.intro p {
  font-family: var(--body-text);
  font-weight: 400;
  grid-column: 2 / 4 ;
  
}

section.role {
  display:grid;
  grid-template: var(--grid-template);
  column-gap:  var(--grid-gap);
  margin: 6rem 0 6rem 0;
}

.role p:first-of-type {
  font-size:2rem;
  color:#888888;
}

.role p {
  grid-column: 2 / 4;
}

.projects {
  display: grid;
  grid-template:var(--grid-template);
  grid-auto-rows: auto;
  gap:  var(--grid-gap);;
  margin: 0 0 calc(var(--spacer)*6) 0;
}

.project {
  margin-top: 0;
  opacity: 0;
  transform: scale(0.9);
  transform: rotate(5deg);
}

.project h2 {
  margin-top: calc(var(--spacer)/2);
  font-size: 1.4rem;
}

.project h2 {
  font-weight: 700;
}

.project .project__type {
  margin: calc(var(--spacer)/2) 0;
  font-family: var(--display-text);
  font-size: 0.9em;
  font-weight: 400;
  display: block;
}

section.hats {
  grid-column: 1 / 2 ;
  grid-row-start: 7;
}

section.inputs {
  grid-column: 1 / 2 ;
  grid-row-start: 8;
}

.timeline li {
  display: flex;
}
.timeline span {
  margin: 0;
}
.timeline span:first-child {
  min-width: 4rem;
  font-family: var(--display-text);
}

.decals {
  display: grid;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
}
.octagon {
  width: 100%;
  background-color: #0029FF;
  margin:0;
  transform:rotate(45deg);
  aspect-ratio: 1 / 1;
  grid-column: 1 / 1;
  clip-path: polygon(16.6% 16.6%, 50% 0, 83.3% 16.6%, 100% 50%,
                     83.3% 83.3%, 50% 100%, 16.6% 83.3%, 0 50%);
}

.octagon-1 {
  border:3px solid var(--accent-color);
  opacity: 0.08;
  grid-row: 1;
}

.octagon-2 {
  border:3px dashed var(--accent-color);
  opacity: 0.08;
  grid-row: 1;
  margin-left: 50%;
}

.svg-container {
  position:absolute;
  display:grid;
  top:-5rem;
  left:0;
  z-index:-100;
  width:100%;
}

.svg-octagon {
  width:100%;
  height:100%;
  fill: none;
  stroke: var(--accent-color);
  stroke-width: 0.5;
  animation: rotate 150s linear infinite;
  transform-origin: center;
  opacity:0.25;
  
}

.oct1 {
  grid-row:1;
  margin-top:25%;
}

.oct2 {
  stroke-dasharray: 2 2;
  animation-direction: reverse;
  grid-row:1;
  margin-left:-50%;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


/* ------------------- */
/* Smaller Screens     */
/* ------------------- */

/* Would prefer to avoid MQs entirely, however in this instance 
I'm just going for some simple overrides to help with the smaller 
screen view. Will update later. */

@media screen and (max-width: 480px) {
  :root {
    font-size:          50%;
    --grid-gap:         0rem;
    --grid-template:    auto / 1fr;
  }

  body {
    padding:0;
  }
}

@media screen and (max-width: 1024px) {
    :root {
      font-size: 75%;
    }
    main, header, footer {
      padding: 2rem;
    }
    main.case-study > *, main.basic > * {
      grid-column: 1 / 3;
    }
    .intro {
      display: block;
    }
    .intro h1 {
      font-size: 4rem;
    }
    main.basic h1 {
      grid-column: 1 / 3;
      font-size: 4rem;
    }
    .decals {
      display:none;
    }
}





/* ------------------- */
/* OS-centric darkmode */
/* ------------------- 
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color:         #1b1b1b;
    --text-color:       #cccccc;
    --alt-text-color:   #cccccc;
    --accent-color:     #E5E8FF;
  }
}*/


