/* ######################################### */
/* ## Styles for https://mikethomas.design ## */
/* ######################################### */

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,600,600i,700,700i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,600,600i,700,700i&display=swap');

/* ------------------- */
/* Baselining          */
/* ------------------- */

/* Lovely simple CSS reset courtesy of https://alligator.io/css/minimal-css-reset/ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
   -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* ------------------- */
/* Settings + Themes   */
/* ------------------- */


:root {
  --bg-color:         #FFF;
  --text-color:       #010101;
  --alt-text-color:   #6a6a6a;
  --accent-color:     #5367FF;
  --body-text:          'Noto Serif', Georgia, serif;
  --display-text:       'Noto Sans', Arial, sans-serif;
  --spacer:             1.5rem;
}

:root[theme='dark'] {
  --bg-color:         rgb(12, 12, 12);
  --text-color:       #EEE;
  --accent-color:     #dbe2ef;
}

/* ------------------- */
/* Global              */
/* ------------------- */

body {
  font-family: var(--body-text);
  font-weight: 400;
  color: var(--text-color);
  background: var(--bg-color);
  line-height: 1.5;
}

/* ------------------- */
/* CONTENT             */
/* ------------------- */


h1, h2, h3 {
  font-family: var(--display-text);
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

/* Honest, hidden H1 technique courtesy of BBC.co.uk */
h1.homepage-heading {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  font-size: 0px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
}

p:first-of-type {
  font-family: var(--body-text);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--accent-color);
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--text-color);
  border-bottom-color: var(--text-color);
}

ul {
  margin:0;
  padding:0;
}

li {
  line-height: 1.5;
  font-size: 1.2rem;
}

img {
  width: 100%;
  height: auto;
}


figcaption {
  color: var(--alt-text-color);
}

blockquote {
  margin: 0;
  padding: 0 5ch;
}
blockquote > p {
  font-style: italic;
  padding:0;
  margin:0;
}


video {
  width: 100%;
  height: auto;
}

/* ------------------- */
/* Navigation          */
/* ------------------- */

nav {
  display: flex;
  align-items: center;
}

nav a {
  border: 0;
  line-height: 2;
  font-family: var(--display-text);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2rem;
  border-bottom: 2px solid transparent;
  transition: 200ms transform;
  transform: rotate3d(0);
}

nav a:first-of-type {
   margin: 0 auto 0 0;
   display: flex;
   align-items: center;
}

nav a:first-of-type:hover {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transform: scale(1.1);
}

nav a:first-of-type:active {
  transform: scale(1.2);
}

nav a img {
  width: 5rem;
  height: auto;
  margin-right: 1rem;
}

nav > a.current {
  border-bottom: 2px solid var(--accent-color);
}

/* ------------------- */
/* Footer              */
/* ------------------- */


footer p,
footer p:first-of-type {
  font-size: 100%;
  font-family:var(--body-text);
  color: var(--alt-text-color);
}

footer a,
footer a:visited {
  color: inherit;
  border-bottom-color: inherit;
}


/* ------------------- */
/* Page Layouts        */
/* ------------------- */

body {
  margin: 0 auto;
  max-width: 1600px;
}

main, header, footer {
  padding: 4rem;
}

/* Basic Centered */

main.home {
  padding-top: 0;
}

main.about {
  display: grid;
}

main.basic {
  display: grid;
  column-gap: 2rem;
  grid-auto-flow: column;
  grid-template-columns: 
  minmax(1rem, 1fr)
    minmax(0, 75ch)
    minmax(1rem, 1fr) 
}

main.basic > * {
  grid-column: 2 / 3;
}

main.basic > .projects {
  grid-column: 1 / 4;
}

/* Case Study */

main.case-study {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 
    minmax(1rem, 1fr) 
    minmax(0, 75ch)
    minmax(1rem, 1fr);
}

main.case-study > * {
  grid-column: 2;
} 

main.case-study h1, 
main.case-study p:first-of-type {
  grid-column: 1 / 3;
}

main.case-study > figure {
  grid-column: 1 / 4;
}

/* ------------------- */
/* Page Rhythm         */
/* ------------------- */


/* From: https://every-layout.dev/layouts/stack/ */

main * + * {
  margin-top: var(--spacer);
}

main > * + h2 {
  margin-top: calc(var(--spacer) * 2);
}

main > * + h3 {
  margin-top: calc(var(--spacer) * 1.5);
}

main > h2 + p,
main > h3 + p {
  margin-top: calc(var(--spacer) / 2);
}

main > figure, 
main > video {
  text-align: center;
  margin-bottom: calc(4rem - var(--spacer));
  margin-top: 4rem;
}

/* ------------------- */
/* Various Sections    */
/* ------------------- */


.cover, .projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 3rem;
  margin: calc(var(--spacer)*2) 0
}

.about__intro {
  grid-column: 2 / 4;
}
.about__skills, .about__input {
  grid-column: 2 / 3;
}

.cover {
  transform: translateY(25px);
  opacity: 0;
}

.cover p {
  font-size: 280%;
  font-family: var(--body-text);
  font-weight: 400;
  margin-bottom: 6rem;
}
.cover > * {
   grid-column: 1 / 4 ; 
}

.project {
  margin-top: 0;
  opacity: 0;
  transform: scale(0.9);
  transform: rotate(5deg);
}

.project h2 {
  margin-top: calc(var(--spacer)/2);
  font-size: 1.4rem;
}

.project h2 {
  font-weight: 700;
}

.project .project__type {
  margin: calc(var(--spacer)/2) 0;
  font-family: var(--display-text);
  font-size: 0.9em;
  font-weight: 400;
  display: block;
}

.timeline li {
  display: flex;
}
.timeline span {
  margin: 0;
}
.timeline span:first-child {
  min-width: 4rem;
  font-family: var(--display-text);
}


/* ------------------- */
/* UI                  */
/* ------------------- */




/* ------------------- */
/* Smaller Screens     */
/* ------------------- */

/* Would prefer to avoid MQs entirely, however in this instance 
I'm just going for some simple overrides to help with the smaller 
screen view. Will update later. */

@media screen and (max-width: 480px) {
    :root {
      font-size: 85%;
    }
    main, header, footer {
      padding: 2rem;
    }
    main.case-study > *, main.basic > * {
      grid-column: 1 / 4;
    }
    .cover {
      display: block;
    }
    .cover p {
      font-size: 200%;
    }
}


/* ------------------- */
/* OS-centric darkmode */
/* ------------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color:         #1b1b1b;
    --text-color:       #cccccc;
    --alt-text-color:   #cccccc;
    --accent-color:     #E5E8FF;
  }
}
